<h1>Admin Dashboard</h1>

<div class="row">
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h3><%= @total_users %></h3>
        <p>Total Users</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h3><%= @total_projects %></h3>
        <p>Total Projects</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h3><%= @total_tasks %></h3>
        <p>Total Tasks</p>
      </div>
    </div>
  </div>
</div>
