<div class="maintenance-message">
  <h1>We're Temporarily Down for Maintenance</h1>
  <p>We're working hard to improve your experience. This area will be back online shortly.</p>
  <p>Thank you for your patience!</p>
  <%= image_tag 'maintenance.jpg', alt: 'Maintenance Image', class: 'img-responsive', style: "width: 25%; height: auto;" %>

  <p>Please check back in 48 Hours.</p>
</div>

<style>
.maintenance-message {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
</style>
