<footer class="footer fixed-bottom bg-dark text-light text-center py-2">
  <div class="container">
    <p class="mb-1">&copy; <%= Time.current.year %> MyBaseCamp2. All Rights Reserved.</p>
    <p class="small">
      <%= link_to "About Us", about_path, class: "text-light mx-2 text-decoration-none" %> |
      <%= link_to "Contact", contact_path, class: "text-light mx-2 text-decoration-none" %> |
      <%= link_to "Terms", terms_path, class: "text-light mx-2 text-decoration-none" %>
    </p>
  </div>
</footer>
